

.developers-list {
    list-style: None;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}


.developers-list {
    list-style: None;
    font-family: 'Ubuntu', sans-serif;
}


.developer {
    display: flex;
    align-items: start;
    border: solid #3b2f62 3px;
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
}


.developer-photo {
    width: 350px;
    border-radius: 30px;
    alignment: left;
}


.developer-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.developer-info .developer-fullname {
    font-size: 25px;
}


.developer-info .developer-post_age {
    font-size: 16px;
}


.developer-info .developer-description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 2;
}


.developer-info .developer-links {
    margin-top: 15px;
    list-style: None;
}


.developer-info .developer-links .developer-link {
    margin-bottom: 8px;
}


.developer-info .developer-links .developer-link-image {
    width: 25px;
}


.developer-info .developer-links .developer-link-link {
    margin-left: 6px;
}