

footer {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: #fff;
    height: 100px;
}


footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}